<header id="site-header">
  <div class="wrap">
    <nav class="navigation" role="menu">
      <a href="/" class="navigation-bdand">
        <img src="{{ site.baseurl }}/resources/img/frontpage/shape.svg" alt="">
      </a>
      <div class="navigation-panel-button">
        <i class="fa fa-bars"></i>
      </div>
      <ul class="navigation-menu">
        {% for navItem in site.data.nav-header %}
          {% if navItem.dropdown %}
            <li class="navigation-menu-item dropdown">
              <a href="{{ navItem.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ navItem.title }}</a>
              <ul class="dropdown-menu">
                {% for item in navItem.items %}
                  <li><a href="{{ item.url }}" {% if item.new %}class="new"{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="navigation-menu-item">
              <a href="{{ navItem.url }}" {% if page.url contains navItem.url %}class="active"{% endif %}>{{ navItem.title }}</a>
              {% if navItem.new %}
              <span class="badge">NEW</span>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
