---
shortTitle: "Verification"
shortDescription: "With a supporting toolkit, VerifAI, specify and verify system / component properties over the distributions of scenarios."
---
