{% include headertop.html %}
{% include headerbottom.html %}

<div class="navigation-fade-screen"></div>

{% include navbar-inner.html %}

<main id="inner-main" class="download-page select-language">

<!-- Title -->
<section class="title-page">
	<div class="wrap">
		<h1>{{page.title}}</h1>
	</div>
</section>

<section class="books">
  <div class="wrap">
    <div class="inner-box download">
      <div class="main-download">
        <div class="recommended-install">
          <h2>Lorem Ipsum <span style="font-weight: bold;">Lorem Ipsum</span> (Lorem Ipsum)</h2>
          <div>
            <div class="text-step">
              <p>Lorem ipsum dolor sit amet <code>Lorem Ipsum</code>,
                consectetur adipiscing elit. Nam condimentum metus et arcu vehicula semper at sit amet nibh. 
                Mauris rutrum arcu quis sapien faucibus, sed congue orci accumsan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</main>

{% include footer.html %}
