{% include headertop.html %}
{% include headerbottom.html %}

<div class="navigation-fade-screen"></div>

{% include navbar-inner.html %}

<!-- TODO: rename the download related tags (used to be download page) -->
<main id="inner-main" class="download-page select-language">

<!-- Title -->
<section class="title-page">
	<div class="wrap">
		<h1>{{page.title}}</h1>
	</div>
</section>

<section class="books">
  <div class="wrap">
    <div class="inner-box download">
      <div class="main-download">
        <div class="recommended-install">
          <h2><u><a href="https://scenic-lang.org/projects/scenicxr/"><span style="font-weight: bold;">
              {{page.project1_title}}
            </span></a></u></h2>
          <div>
            <div class="text-step">
              <p>
                {{page.project1_description}}
              </p>
            </div>
          </div>
          <video width="100%" height="auto" controls>
            <source src="{{ site.baseurl }}/resources/vids/Dynamic_BT_final.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <br><br>
				  <hr><hr><hr><hr><hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="books">
  <div class="wrap">
    <div class="inner-box download">
      <div class="main-download">
        <div class="recommended-install">
          <h2><u><a href="https://github.com/KE7/ScenicNL/"><span style="font-weight: bold;">
              {{page.project2_title}}
            </span></a></u></h2>
          <div>
            <div class="text-step">
              <p>
                {{page.project2_description}}
              </p>
            </div>
          </div>
          <br><br>
				  <hr><hr><hr><hr><hr>
        </div>
      </div>
    </div>
  </div>
</section>

</main>

{% include footer.html %}
