// NAVIGATION
//------------------------------------------------
//------------------------------------------------

.navigation {
    padding: $padding-medium 0;
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);

    .badge {
        position: absolute;
        display: block;
        margin-top: -46px;
        margin-left: 56px;
        color: white;
        font-size: 7px;
        line-height: 12px;
        height: 12px;
        padding: 0 4px;
        border-radius: 6px;
        background-color: rgb(255, 73, 137);
      }
      
    .navigation-bdand {
      img {
        height: 100px;
      }
    }
    .navigation-bdand-vfill-lg {
        height: 49px;
    }
    .navigation-panel-button {
        display: none;
        font-size: 1.333rem;
        color: #fff;
        cursor: pointer;
        @include bp(large) {
            order: 3;
            display: block;
        }
    }

    .navigation-menu {
        .navigation-menu-item {
            display: inline-block;
            position: relative;

            &:last-child {
                margin-right: 0;
            }

            a {
                padding: 5px 15px;
                text-transform: uppercase;
                color: #fff;
                border-radius: 300px;
                font-weight: $font-bold;
                font-size: 16px;

                &:active,
                &:focus,
                &:hover {
                    background: $brand-primary;
                    text-decoration: none;
                }
            }

            a.alt {
                padding: 5px 15px;
                text-transform: uppercase;
                color: #fff;
                border-radius: 300px;
                font-weight: $font-bold;
                font-size: 18px;

                &:active,
                &:focus,
                &:hover {
                    background: $brand-primary;
                    text-decoration: none;
                }
            }

            &.dropdown {
                > a {
                    padding-right: 25px; // Adjust padding to make space for the arrow
                }

                > a::after {
                    content: "▼";
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 0.6em;
                    color: #fff;
                }

                &:hover > .dropdown-menu {
                    display: block;
                }

                .dropdown-toggle {
                    cursor: pointer;
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $brand-secondary;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    overflow: hidden; // Ensure the dropdown menu is properly contained
                    min-width: 200px; // Set a minimum width for the dropdown menu

                    li {
                        a {
                            padding: 10px 15px;
                            color: #fff;
                            display: block; // Ensure the anchor tags are block elements
                            white-space: nowrap; // Prevent text from wrapping

                            &:hover {
                                background: $brand-primary;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include bp(large) {
    .navigation {
        .navigation-menu {
            padding: 20px;
            $sliding-panel-width: 270px;
            @include position(fixed, 0 0 0 auto);
            @include size($sliding-panel-width 100%);
            @include transform(translateX(+ $sliding-panel-width));
            @include transition(all 0.25s linear);
            background: #fff;
            -webkit-overflow-scrolling: touch;
            overflow-y: auto;
            z-index: 100;
            background: rgba($gray-darker, 0.99);

            &.is-visible {
                @include transform(translateX(0));
            }

            .navigation-menu-item {
                margin-right: 16px;
                padding: 10px 0;
                display: block;
            }
        }
    }
}

.navigation-fade-screen {
    @include position(fixed, 0 0 0 0);
    // @include transition;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 90;

    &.is-visible {
        opacity: 0.6;
        visibility: visible;
    }
}
